@media screen and (max-width: 900px) {
 .slide-text {
   font-size: 14px;
   color:#1c0655;
   text-shadow: 2px 2px 5px orange;
 }
 h3{
  font-size:18px;
  text-shadow:2px 2px orange;
 }
}
@media (max-width:992px){
 .column{
     width:100%;
     display:block;
           }
     }